<div class="container">
    <div class="row">
        <div class="d-flex flex-wrap">
            {% for post in posts %}
            <div class="card mt-2 mr-2" style="width: 219px">
                <div class="card-body">
                    <h5 class="card-title">Test {{loop.index}} complete!</h5>

                    <ul class="list-group list-group-flush">   
                        <li class="list-group-item">Side : {{ post.side|e }}</li>
                        <li class="list-group-item">Year : {{ post.year|e }}</li>
                        <li class="list-group-item">Miles : {{ post.miles|e }}</li>
                        <li class="list-group-item">Gas : {{ post.gas|e }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>